
<div style="height: 100%; padding-top: 35px; box-sizing: border-box;">
  <ag-grid-angular #agGrid
                   style="width: 100%; height: 100%"
                   [rowDragManaged]="true"
                   class="ag-theme-fresh"
                   [animateRows]="true"
                   [defaultColDef]="defaultColDef"
                   [multiSortKey]="multiSortKey"
                   [suppressHorizontalScroll]="false"
                   rowSelection="multiple"
                   id="mygrid"
                   [rowData]="oracleData.items"
                   [columnDefs]="columnDefs"
                   (gridReady)="onGridReady($event)">

  </ag-grid-angular>
</div>
<div style="position: absolute; top: 5px; left: 5px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 13px;">
  <div style="padding-bottom: 4px;">
    <!--
    <form class="example-form">
      <mat-form-field class="example-full-width">

      <input matInput placeholder="Filename" value="Players">

      </mat-form-field>
      </form>
        -->
    <label> File Name: <input type="text" id="fileName" /> </label>
    <label style="margin-left: 20px;">
      Separator <input type="text" style="width: 20px;" id="columnSeparator" />
    </label>
    <label style="margin-left: 20px;"> <button (click)="onBtExport()">Export to CSV</button> </label>
  </div>
  
</div>

