<!--
                 
-->
<ag-grid-angular #agGrid
                 style="width: 100vw; height: 100vh;"
                 [rowDragManaged]="true"
                 class="ag-theme-fresh"
                 [animateRows]="true"
                 [defaultColDef]="defaultColDef"
                 [multiSortKey]="multiSortKey"
                 [suppressHorizontalScroll]="false"
                 rowSelection="multiple"
                 id="mygrid"
                 [rowData]="oracleData.items"
                 [columnDefs]="columnDefs"
                 (gridReady)="onGridReady($event)">
</ag-grid-angular>

