<!--The content below is only a placeholder and can be replaced.-->
<!-- Dummy comment-->
<link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
<p-tabView >
  <p-tabPanel id="mpTabs" header="Hitters">
    <ng-template pTemplate="content">
      <app-hitters></app-hitters>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel header="Pitchers">
    <ng-template pTemplate="content">
      <app-pitchers></app-pitchers>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel header="Managers">
    <ng-template pTemplate="content">
      <app-managers></app-managers>
    </ng-template>
  </p-tabPanel>

</p-tabView>
-->

  
  <router-outlet></router-outlet>
